* {
  margin: 0;
  padding: 0;
  border: none;
}

main {
  width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 200px;
  background-color: #f4a3a3;
  border-radius: 5px;
}

header h1 {
  float: left;
  margin-top: 70px;
  margin-left: 30px;
  font-size: 40px;
}

#logo {
  float: right;
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-right: 30px;
}

#logo img {
  width: 90%;
  height: 90%;
  border-radius: 5px;
}

nav {
  width: 100%;
  height: 20px;
  background-color: #dddddd;
  margin-top: 15px;
  padding: 10px 0 15px;
  border-radius: 6px;
}

nav ul {
  list-style: none;
  margin-left: 30px;
  float: left;
  padding-top: 5px;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav li:first-child {
  margin-left: 0;
}

nav li a {
  text-decoration: none;
  color: black;
}

nav li a:hover {
  color: #ff2e2e;
}

nav form {
  float: right;
}

nav form {
  margin-right: 30px;
}

nav form input {
  border-radius: 5px;
}

nav form input[type="text"] {
  padding: 5px;
}

nav form input[type="submit"] {
  padding: 5px;
}

#content {
  width: 100%;
  margin-top: 15px;
}

aside {
  width: 20%;
  float: left;
  background-color: #dddddd;
  border-radius: 8px;
}

aside .aside-box {
  padding: 15px;
}

aside .aside-box h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

aside .aside-box ul {
  list-style: none;
  margin-left: 15px;
}

aside .aside-box li {
  margin-bottom: 5px;
}

aside .aside-box li a {
  text-decoration: none;
  color: black;
}

aside .aside-box li a:hover {
  color: #ff2e2e;
}

#articles {
  width: 78%;
  float: right;
  background-color: #dddddd;
  border-radius: 6px;
}

article {
  padding: 10px 0;
  border-bottom: solid 1px black;
}

article .caption {
  width: 65%;
  float: left;
  margin-left: 10px;
}

article .image {
  width: 30%;
  float: right;
  border-radius: 6px;
}

article .image img {
  margin-right: 10px;
  border-radius: 6px;
  height: 170px;
  width:95%;
}

article .caption h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

article .caption ul {
  list-style: none;
  margin-bottom: 15px;
}

article .caption li {
  display: inline-block;
  font-size: 14px;
  color: rgb(110, 110, 110);
}

article .caption p {
  font-size: 18px;
  margin-bottom: 10px;
}

article .caption a {
  color: #ff2e2e;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

footer {
  padding: 20px 0;
  background-color: #f4a3a3;
  margin-top: 15px;
  text-align: center;
  border-radius: 6px;
}
